<section>
  <div class="card-container">
    <% @offers.each do |offer| %>
      <div class='custom-card'>
        <% if offer.premium %>
          <span class='premium-tag'>
            premium
          </span>
        <% end %>

        <div class='card-item'>
          <%= offer.advertiser_name %>
        </div>

        <div class='card-item'>
          <a href='<%= offer.url%>' class='btn <%= offer.enabled ? 'btn-success' : 'btn-default' %>'>
            Shop now
          </a>
        </div>
      </div>
    <% end %>
  </div>
</section>
