<% if @offer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
    <ul>
    <% @offer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :advertiser_name %>
  <%= f.text_field :advertiser_name, class: 'form-control'%>
</div>

<div class="form-group">
  <%= f.label :url, 'Url *'%>
  <%= f.url_field :url, class: 'form-control'%>
</div>

<div class="form-group">
  <%= f.label :description, 'Description *'%>
  <%= f.text_area :description, class: 'form-control'%>
</div>

<div class="form-group">
  <%= f.label :starts_at, 'Starts at *'%>
  <%= f.date_field :starts_at, class: 'form-control'%>
</div>

<div class="form-group">
  <%= f.label :ends_at, 'End at'%>
  <%= f.date_field :ends_at, class: 'form-control'%>
</div>

<div class="form-group">
  <%= f.check_box :premium, class: ''%>
  <%= f.label :premium, 'Premium' %>
</div>

<div class="form-group">
  <%= f.submit "Enviar", class: "btn btn-primary" %>
</div>
