<h1>Offers</h1>

<%= link_to "New Offer", new_admin_offer_path,  class: "btn btn-primary" %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>url</th>
    <th>status</th>
    <th>actions</th>
  </tr>
  </thead >
  <tbody>
  <% @offers.each do |offer| %>
    <tr>
      <td><%= offer.id %></td>
      <td><%= offer.advertiser_name %></td>
      <td><%= offer.url %></td>
      <td><%= offer.enabled ? 'enabled' : 'disabled' %>
      </td>
      <td>
        <%= link_to '[edit]', edit_admin_offer_path(offer), class: 'btn btn-info' %>
        <%= link_to "#{offer.enabled ? '[disable]' : '[enabled]' }", edit_admin_offer_path(offer), class: 'btn btn-info' %>
        <%= link_to '[destroy]', admin_offer_path(offer), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
