/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-card {
  margin: 10px;
  width: 300px;
  border: 1px solid;
  text-align: center;
  padding: 10px;
  position: relative;
}

.card-item{
  margin: 10px 0 20px 0;
}

.premium-tag {
  position: absolute;
  top: -10px;
  right: 0px;
  background: red;
  color: white;
  border: 2px solid white;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 2px 2px 3px 3px #ccc;
}

.premium-link {
  color: green;
}
